/************** HEADER PRINCIPAL CON EL LOGO ***************/
.App-header {
  background-color: #212529;
  height: auto;
}
.title-header {
  color: #f5f6f7;
  font-size: x-large;
  vertical-align: middle;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.logo-header {
  vertical-align: middle;
}

/************** HEADER SECUNDARIO QUE CONTIENE LOS LINKS ***********/
.header {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}
.header a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}
.header a:hover {
  color: #8a0f53;
}

/************** CARD DEL LOGIN ***********/
.Login {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.LoginBtn {
  margin-top: 2em !important;
  flex-grow: 1;
}


/*************** FORMULARIOS DE CARGA ****************/
.App {
  /*max-width: 420px;
  margin: 0 auto;*/
  width:75%;
  margin:0px auto; 
}

.content {
  padding: 20px;
  /*Estilo para completar el menú sidebar y el div content, que compartan el ancho de pantalla*/
  width: 75%;
  margin: auto;
  text-align:center;
}

.content .labelleft {
  text-align: left !important;    
}

/*Reescribo estilo del menú lateral*/
.sidenav---sidenav---_2tBP {
  background: #5d25a7 !important;
}

.eupnTP {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .15s;
  transition: all .15s;
  padding: 0 20px;
  margin-left: 240px;
  font-size: larger;
}

.col2 {
  column-count: 2;
  max-width: none !important;
}

/***************ESTILO PARA LA SUB-GRILLA DE FAMILIARES ***************/
.gridFamiliares {
  width: 50%;
  margin: 0 auto;  
}

.gridFamiliares th {
  background: #ddd;
}
