<IfModule mod_headers.c>
header add Access-Control-Allow-Origin "*"
header add Access-Control-Allow-Credentials false
header add Access-Control-Allow-Headers "x-requested-with, content-type, authorization, origin, accept"
header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
header add Allow "GET, POST, OPTIONS, PUT, DELETE"
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule backend/(.*)$ backend/backend.php?metodo=$1 [QSA,NC,L]
</IfModule>